<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Service Project Categories</h2>

        <% if (categories && categories.length) { %>
            <ul>
                <% categories.forEach(category=> { %>
                    <li>
                        <%= category.name %>
                    </li>
                    <% }) %>
            </ul>
            <% } else { %>
                <p>No categories found.</p>
                <% } %>
    </main>

    <%- include('partials/footer') %>